<!DOCTYPE html>
<html lang="en">
<%- include("components/todo/head.html", { todo }) %>
<body>
  <main class="app">
    <%- include("components/todo/back-link.html") %>

    <section class="card">
      <h1 id="todo-title-view"><%= todo.title %></h1>

      <%- include("components/todo/badges.html", { todo }) %>
      <%- include("components/todo/actions.html", { todo }) %>
      <%- include("components/todo/meta.html", { todo }) %>
      <%- include("components/todo/edit-form.html", { todo }) %>
    </section>
  </main>

  <script src="/assets/rickroll-easter-egg.js"></script>
  <script src="/assets/todo.js"></script>
</body>
</html>
